body{
	font-family: 'Source Sans Pro', sans-serif; 
}

section{
  width: 854px;
  height: 480px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
}

.home{
	background:  linear-gradient(
      rgba(0,0,0,.5), 
      rgba(0,0,0,.5)
    ), url('img/coffee-bg.png');

}

.top-nav{
	height: 87px;
	width: 100%;
	background-color: rgba(0,0,0,.6);
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
	position: relative;
}

.main-content-container{
	width: 300%;
    height: calc(100% - 87px - 40px);
    display: -webkit-flex;
    padding-right: 40px;
    justify-content: flex-start;
    flex-direction: row;
}

.main-content{
	/*height: calc(100% - 87px - 40px);*/
	width: 100%;
	display: none;
}

.main-content.active{
	display: -webkit-flex;
}

.calc{
	height: 87px;
	width: 87px;
	background-color: rgba(255, 255, 255, .2);
	position: relative;
	left: 0;
}

.calc-icon{
	width: 38px;
	height: 50px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	background: url('img/calc-icon.png');
}

.logo{
	background: url('img/verifone-logo.png');
	width: 190px;
	height: 37px;
	align-self: center;
	display: inline-block;
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.application-display {
	width: 748px;
	height: 305px;
	/*padding: 20px;*/
	margin: auto;
	box-sizing: border-box;
/*	background-color: blue;*/
	display: -webkit-flex;
	align-content: space-around;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.app-button{
	width: 170px;
	height: 135px;
	background: rgba(255, 255, 255, .85);
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
	display: -webkit-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.app-button:click{
	
}

.app-icon{
	width: 60px;
	height: 60px;
}

.app-icon img{
	margin: auto;
	height: 100%;
}

.app-title{
	height: 30px;
	font-size: 16px;
}

.bottom-nav{
	margin-top: -10px;
	height: 70px;
}

.dots ul {
	position: relative;
	display: inline-block;
	margin: auto;
	padding: 0;
	list-style: none;
	cursor: default;
}

.dots li {
	position: relative;
	display: block;
	float: left;
	margin: 0 5px;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.bottom-nav{
	width: 100%;
	height: 40px;
	display: -webkit-flex;
}

.dots li a {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	outline: none;
	border-radius: 50%;
	background-color: rgba(255,255,255,0.3);
	text-indent: -999em;
	cursor: pointer; /* make the text accessible to screen readers */
	position: absolute;
}

.dots ul li.active a {
	background-color: rgba(255, 255, 255, 0.9);
}




